img {
    max-width: 32px;
}

.img2 {
    max-width: 28px;
    filter: invert(61%) sepia(39%) saturate(5351%) hue-rotate(160deg) brightness(95%) contrast(101%);
}

.profile {
    border-radius: 50%;
    max-width: 25px;
    max-height: 25px;
}

.img {
    padding: 4%;
}

.Twitter {
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 0;
}

.color {
    filter: invert(74%) sepia(53%) saturate(5738%) hue-rotate(159deg) brightness(90%) contrast(109%);
}

.div {
    // border: 1px solid black;
    padding-top: 5%;
    box-sizing: border-box;
    width: 32px;
    height: 50px;
}
